<!-- 
<div class="mat-body-1">
  <span class="mat-h2">Using:</span>
  <section class="mat-h3">
    <ul>
      <li>Angular version {{ angularVersion }}</li>
      <li>Angular Material version {{ materialVersion }}</li>      
    </ul>
  </section>
</div>
-->

<mat-grid-list cols="1" rowHeight="2rem" gutterSize="1rem" role="list">
  <mat-grid-tile rowspan="2">
    <span class="mat-h1">
      Angular version {{ angularVersion }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile rowspan="1">
    <span class="mat-h1">
      Angular Material version {{ materialVersion }}
    </span>    
  </mat-grid-tile>
</mat-grid-list>