@use "@angular/material" as mat;

@include mat.elevation-classes();
@include mat.app-background();
$my-palette: mat.$m2-deep-purple-palette;

mat-nav-list.list-horizontal {
  display: flex;
  flex-direction: row;
}

.no-underline {
  text-decoration: none!important;
}

/**/
a:link {
  color: mat.m2-get-color-from-palette($my-palette, 'primary');
  background-color: mat.m2-get-color-from-palette($my-palette, 'accent');
  text-decoration: none!important;
}

/**/
a.mat-button {
  color: white;
  text-decoration: none!important;
}

a.active-route {
  background-color: white;
  //color: purple;
  color: rgb(126, 87, 194);
}

a {
  text-decoration: none!important;
}

.mdc-button__label {
  text-decoration-line: none!important;
}
// desperate attempt to remove underline beneath <a tags within mat-toolbar
.mdc-button, .mat-mdc-button, .mat-mdc-button-base, .mat-unthemed,  .mat-mdc-button-ripple {
  text-decoration-line: none!important;
}


:host ::ng-deep a.mat-button,
:host ::ng-deep a .mdc-button__label {
  text-decoration: none !important;
}


