<!-- works in Angular 12 + Angular Material 12 as of May 16, 2021 -->
<!--
<mat-toolbar color="primary">
  <mat-toolbar-row #toolbarRow>
    <a mat-button [routerLink]="['/']">Angular Material Navigation</a>

    <ng-template ngFor let-link="$implicit" [ngForOf]="links">
      <a
        mat-button
        [routerLink]="link.path"
        [routerLinkActive]="['mat-button-toggle-checked', 'active-route']"
        #rla="routerLinkActive"
      >
        {{ link.label }}</a
      >
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
 -->
<mat-nav-list class="list-horizontal" color="primary">
  <a mat-list-item [routerLink]="['/']">Angular Material Navigation</a>
      <ng-template ngFor let-link="$implicit" [ngForOf]="links">
      <a
        mat-list-item
        [routerLink]="link.path"
        [routerLinkActive]="['mat-button-toggle-checked', 'active-route']"
        #rla="routerLinkActive"
      >
        {{ link.label }}</a
      >
    </ng-template>
</mat-nav-list>
