@use "@angular/material" as mat;
/* FUTURE:
$fa-font-path: "../node_modules/font-awesome/fonts";
@import 'font-awesome/scss/font-awesome.scss';
*/
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// https://blog.knoldus.com/understanding-dynamic-theming-in-angular-material/
@include mat.elevation-classes();
@include mat.app-background();

$my-palette: mat.$m2-deep-purple-palette;

.no-underline {
  text-decoration-line: none !important;
  text-decoration-style: unset !important;
  a {
    text-decoration-line: none;
  }
}


